/* Home.module.css */
.modalOpen {
  overflow: hidden;
}

.home {
  background-color: #11111f;
  min-height: 100vh;
}

.heroSection {
  height: 100vh;
  background-image: url("/images/hero-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.blur {
  filter: blur(5px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.button {
  background-color: #c1a01e;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #b39119;
}

.stadiumInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #11111f;
}

.scrollIndicator {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

.scrollIcon {
  font-size: 2rem;
  color: #fff;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
